<!DOCTYPE html>
<html>
<head>
    <title>10.AngularJS - Form Validations 2</title>
    <script src="script/angular.js"></script>
    <script src="script/script10.js"></script>
	<style>
    input.ng-invalid {
		background-color: yellow;
    }

    input.ng-valid {
		background-color: lawngreen;
    }

    form.ng-pristine {
		background-color: aqua;
    }

    form.ng-dirty {
		background-color: mediumaquamarine;
    }
    </style>
</head>
<body>
    <h1>AngularJS - Form Validations</h1>
    <div  ng-app="myModule" ng-controller="formController">
        <form name="studentForm">
            <table border="0">
                <tr>
                    <td>Enter first name:</td>
                    <td>
                        <input name="firstName" type="text" ng-model="firstName" 
                               ng-minlength="3" ng-maxlength="15" required />
                        <span style="color:red">
                            <span ng-show="studentForm.firstName.$error.required">
                                First Name is required.
                            </span>
                            <span ng-show="studentForm.firstName.$error.minlength">
                                First Name Too Short!!!
                            </span>
                            <span ng-show="studentForm.firstName.$error.maxlength">
                                First Name Too Long!
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Enter last name:</td>
                    <td>
                        <input name="lastName" type="text" ng-model="lastName" required />
                        <span style="color:red" ng-show="studentForm.lastName.$error.required">
                            Last Name is required.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>
                        <input name="email" type="email" ng-model="email" required />
                        <span style="color:red">
                            <span ng-show="studentForm.email.$error.required">
                                Email is required.
                            </span>
                            <span ng-show="studentForm.email.$error.email">
                                Invalid email address.
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button ng-click="reset()">Reset</button>
                    </td>
                    <td>
                        <button ng-disabled="studentForm.firstname.$invalid ||
                                studentForm.lastname.$invalid ||
                                studentForm.email.$invalid" ng-click="submit()">
                            Submit
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
