#lorem {
	background: black;
	color: white;

	border: 3px dashed red;
	padding: 13px 13px 13px 20px;
	margin: 10px auto;
}

#normal {
	font-style: normal;
}

#italic {
	font-style: italic;
}

#oblique {
	font-style: oblique;
}

#smallcap {
	font-variant: : smallcap;
}

#Wnormal {
	font-weight: normal;
}

#Wbolder {
	font-weight: bolder;
}

#Wbold {
	font-weight: bold;
}

#xxlarge {
	font-size: xx-large;
}

#xlarge {
	font-size: x-large;
}

#large {
	font-size: large;
}

#medium {
	font-size: medium;
}

#small {
	font-size: small;
}

#xxsmall {
	font-size: xx-small;
}

#size25pt {
	font-size: 25pt;
}

#size150 {
	font-size: 150%;
}

#linenormal {
	line-height: normal;
}

#height25pt {
	line-height: 25pt;
}

#height200 {
	line-height: 200%;
}